<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Team builder</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Hacker Event Coordiator</h1>
    </div>
  <!--begin main template-->
    <div class="container">
      #parse( $template )
    </div>
    <!--end main template-->
  </body>
</html>
