<!--team-form.vtl-->
<h1>Add a team</h1>

<form action="/" method="post">
  <label for="teamName">Team name:</label>
  <input id="teamName" name="teamName" type="text">
  <button type="submit" class="btn btn-success">Add Team</button>
</form>
<!--team-form.vtl-->
